:root {
    --grey: #f8f8f8;
    --dark: #7d7c7c;
    --primary: #242424;
    --primary-lite: #979797;
    --secondary: #999333;
    --secondary-lite: #a79e28;
    --secondary-dark: #8c862d;
    --radius: 5px;

    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color: var(--primary);
    color-scheme: light dark;
    background-color: var(--grey);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    letter-spacing: 1px;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}
a:hover {
    color: #535bf2;
}

body {
    margin: 0;
    padding: 0;
}

.section {
    width: 500px;
}

.section-wide {
    width: 800px;
}

.btn {
    width: 100%;
    font-size: 18px;
    min-width: 150px;
    padding: 20px 15px;
    border-radius: var(--radius);
    background-color: var(--secondary);
    border: solid 1px var(--secondary-dark);
}

.btn:hover,
.btn:active {
    background-color: var(--secondary-lite);
}
.btn:active {
    border: solid 1px var(--secondary-dark);
    background-color: var(--secondary-dark);
}

input,
textarea {
    width: 100%;
    display: block;
    margin: 10px 0;
    font-size: 18px;
    padding: 20px 15px;
    box-sizing: border-box;
    background-color: var(--light);
    border-color: var(--dark);
    color: var(--primary);
    outline: none;
}
input:active,
input:focus,
textarea:active,
textarea:focus {
    outline: solid 1px var(--dark);
    box-shadow: 0px 0px 5px 0px rgba(167, 158, 40, 0.75);
}
textarea {
    border-width: 2px;
    border-color: var(--primary);
}

input[type='checkbox'] {
    width: auto;
    width: 30px;
    height: 15px;
    display: inline-block;
}
input[type='checkbox']:focus {
    box-shadow: none;
    outline: none;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header {
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    position: fixed;
    box-sizing: border-box;
    background-color: #ffffff;
}
header .title {
    padding: 20px;
    display: block;
    font-size: 24px;
    font-weight: 800;
    letter-spacing: 2px;
    color: var(--secondary-dark);
}
header ul {
    display: block;
    padding: 0;
    margin: 0;
}
header ul li {
    list-style: none;
    display: inline-block;
}
header ul li:first-child {
    margin-right: 2px;
}
header ul li a {
    width: 80px;
    padding: 20px;
    text-align: center;
    color: var(--primary);
    display: inline-block;
    background-color: var(--grey);
    font-size: 18px;
}

header ul li a:focus {
    border: none;
    outline: none;
}
header ul li a:hover {
    color: var(--secondary);
}
